<h3>Hej från Blazor-komponenten!</h3>
<p>Den här texten kommer från komponenten HelloComponent.razor som ligger i mappen Components.</p>
<p>Den här komponenten kan jag återanvända på flera ställen</p>