html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2{
    color:rgb(72, 100, 72);
}

a, .btn-link {
    color: #0071c1;
}

.btn {
    color: #fff;
    background-color: rgb(51, 68, 51);
    border-color: rgb(13, 17, 13);
    padding:5px;
}

.content {
    padding-top: 1.1rem;
}
  
.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }
