.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
   background-color: darkseagreen;
   padding:20px;
   
}

.sidebar a{
    color:blueviolet;
}

.main-content{
    background-color: rgb(223, 255, 223);
    padding:20px;
}