

    <nav class="nav-column">
  
        <ul>
            <li class="nav-link">
            <NavLink class="menu-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
            </li>
        
             <li class="nav-link">
            <NavLink class="menu-link" href="DataDisplay">
                JSON API
            </NavLink>
            </li>

             <li class="nav-link">
            <NavLink class="menu-link" href="converter"> 
                 Converter
            </NavLink>
            </li>

        </ul>

    </nav>